/* Normalize default styles */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
}
body,
html,
.__root {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    line-height: 1.1;
    color: #272727;
    font-family: 'Lato', sans-serif;
}
a,
a:hover {
    color: #272727;
    text-decoration: none;
}

button {
    outline: none;
    background-color: #E55473;
    padding: 1.2rem 3rem;
    font-size: .9rem;
    border-radius: .5rem;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
button:active {
    transform: scale(.99);
}

img,
svg {
    width: 100%;
    height: 100%;
}

/* Reused Styles */
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-space {
    justify-content: space-between;
}
.align-stretch {
    align-items: stretch;
}
.container {
    padding: 0 90px;
}


/* default style */

section {
    padding: 8rem 0;
}
section header {
    text-align: center;
    margin-bottom: 4rem;
}

section header h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

section header p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.875rem;
    width: 37.125rem;
    margin: 0 auto;
}


/* Header */
header.banner nav {
    position: fixed;
    top: 10%;
    left: 90px;
    padding: .5rem 1rem;
    transform: translateX(-1rem);
    background-color: rgba(229, 84, 115, 0.10);
    backdrop-filter: saturate(180%) blur(7px);
}
header.banner nav * {
    color: rgba(229, 84, 115, .8);
    will-change: color;
    transition: color 200ms ease;
}
header.banner nav:hover * {
    color: rgba(229, 84, 115, 1);
}
header.banner nav .logo_icon {
    width: .85rem;
}
header.banner nav h1.logo {
    font-size: .9rem;
    font-weight: 700;
    margin-left: 10px;
}

header.banner,
header.banner .banner-inner {
    background-color: rgba(229, 84, 115, 0.05);
    height: 100%;
}
header.banner .banner-inner {
    gap: 50px;
}
header.banner .banner-inner .banner-info,
header.banner .banner-inner .banner-img {
    width: 50%;
}
header.banner .banner-inner .banner-info * {
    margin-bottom: 20px;
}
header.banner .banner-inner .banner-info h1 {
    font-size: 4rem;
}
header.banner .banner-inner .banner-info p {
    font-size: .9rem;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 1.875rem;
}

header.banner .banner-inner .banner-img {
    max-width: 50%;
    height: 95%;
    align-self: flex-end;
}
header.banner .banner-inner .banner-img img {
    object-fit: contain;
    object-position: center bottom;
}

/* FEATURED SECTION */
section.featured main > .featured-container {
    gap: 1.5rem;
    margin-bottom: 8rem;
}
section.featured main .featured-flower_box {
    flex: 1;
    text-align: center;
}
section.featured main .featured-flower_box .featured-img {
    border-radius: 9999px 9999px 0rem 0rem;
    height: 100%;
    padding: 7rem 20% 0;
    margin-bottom: 2rem;
}
section.featured main .featured-flower_box .featured-img .featured-img_inner {
    width: 20rem;
    height: 100%;
    max-width: 100%;
    max-height: 25rem;
    margin: auto;
}
section.featured main .featured-flower_box .featured-img .featured-img_inner img {
    object-fit: contain;
    object-position: bottom;
}
section.featured main .featured-flower_box.second-box .featured-img .featured-img_inner img {
    object-position: center;
}
section.featured main .featured-flower_box.first-box .featured-img {
    background-color: rgba(167, 33, 98, 0.15);
}
section.featured main .featured-flower_box.second-box .featured-img {
    background-color: rgba(5, 151, 160, 0.15);
}
section.featured main .featured-flower_box.third-box .featured-img {
    background-color: rgba(71, 125, 17, 0.15);
}
section.featured main .featured-flower_box .featured-text {
    color: #272727;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration-line: underline;
}

/* FAVOR SECTION */

.favor {
    border-radius: 0.5rem;
    background: rgba(39, 39, 39, 0.05);
    padding: 4rem 10rem;
    gap: 1.5rem;
}
.favor .favor-box {
    text-align: center;
}
.favor .favor-box .icon {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 auto 1.5rem;
}
.favor .favor-box h4 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 1rem;
    font-weight: 600;
}