/* Normalize default styles */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
}
body,
html,
.__root {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    line-height: 1.1;
    color: #272727;
    font-family: 'Lato', sans-serif;
}
a,
a:hover {
    color: #272727;
    text-decoration: none;
}

button {
    outline: none;
    background-color: #d93e13;
    padding: 1.2rem 3rem;
    font-size: .9rem;
    border-radius: .5rem;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: transform 200ms ease;
}
.button {
    cursor: pointer;
    transition: transform 200ms ease;
}
button:active,
.button:active {
    transform: scale(.99);
}

img,
svg {
    width: 100%;
    height: 100%;
}

input,
input::placeholder {
    font-family: 'Lato', sans-serif;
    background: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(39, 39, 39, 0.60);
    font-size: .85rem;
    font-weight: 400;
    
    display: inline-block;
    width: 100%;
    height: 100%;
}

input {
    color: #272727;
    font-weight: 600;
}
/* Reused Styles */
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-space {
    justify-content: space-between;
}
.align-stretch {
    align-items: stretch;
}
.container {
    padding: 0 clamp(90px, 10vw, 12rem);
}


/* default style */

section,
footer {
    padding: 8rem 0;
}
section header,
.title {
    text-align: center;
    margin-bottom: 4rem;
}

section header h1,
.title h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

section header p,
.title p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.875rem;
    width: 37.125rem;
    margin: 0 auto;
}
section header button,
.title button {
    margin-top: 2rem;
}

/* Header */
header.banner nav {
    position: fixed;
    top: 10%;
    left: clamp(90px, 10vw, 12rem);
    padding: .5rem 1rem;
    background-color: rgba(158, 35, 1, .10);
    backdrop-filter: saturate(180%) blur(15px);
}
header.banner nav * {
    color: rgba(158, 35, 1, .8);
    will-change: color;
    transition: color 200ms ease;
}
header.banner nav:hover * {
    color: rgba(158, 35, 1, 1);
}
header.banner nav .logo_icon {
    width: .85rem;
}
header.banner nav h1.logo {
    font-size: .9rem;
    font-weight: 700;
    margin-left: 10px;
}

header.banner,
header.banner .banner-inner {
    background-color: rgba(158, 35, 1, .05);
    height: 100%;
}
header.banner .banner-inner {
    gap: 50px;
}
header.banner .banner-inner .banner-info,
header.banner .banner-inner .banner-img {
    width: 50%;
}
header.banner .banner-inner .banner-info * {
    margin-bottom: 20px;
}
header.banner .banner-inner .banner-info h1 {
    font-size: 4vw;
}
header.banner .banner-inner .banner-info p {
    font-size: .9rem;
    color: rgba(39, 39, 39, 0.60);
    font-weight: 400;
    line-height: 1.875rem;
}

header.banner .banner-inner .banner-img {
    max-width: 50%;
    height: 95%;
    align-self: flex-end;
}
header.banner .banner-inner .banner-img img {
    object-fit: contain;
    object-position: center bottom;
}

/* FEATURED SECTION */
section.featured main > .featured-container {
    gap: 1.5rem;
    margin-bottom: 8rem;
}
section.featured main .featured-flower_box {
    flex: 1;
    text-align: center;
}
section.featured main .featured-flower_box .featured-img {
    border-radius: 9999px 9999px 0rem 0rem;
    height: 100%;
    padding: 7rem 20% 0;
    margin-bottom: 2rem;
}
section.featured main .featured-flower_box .featured-img .featured-img_inner {
    width: 20rem;
    height: 100%;
    max-width: 100%;
    max-height: 25rem;
    margin: auto;
}
section.featured main .featured-flower_box .featured-img .featured-img_inner img {
    object-fit: contain;
    object-position: bottom;
}
section.featured main .featured-flower_box.second-box .featured-img .featured-img_inner img {
    object-position: center;
}
section.featured main .featured-flower_box.first-box .featured-img {
    background-color: rgba(167, 33, 98, 0.15);
}
section.featured main .featured-flower_box.second-box .featured-img {
    background-color: rgba(5, 151, 160, 0.15);
}
section.featured main .featured-flower_box.third-box .featured-img {
    background-color: rgba(71, 125, 17, 0.15);
}
section.featured main .featured-flower_box .featured-text {
    color: #272727;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration-line: underline;
}

/* FAVOR SECTION */

.favor {
    border-radius: 0.5rem;
    background: rgba(39, 39, 39, 0.05);
    padding: 4rem 10rem;
    gap: 1.5rem;
}
.favor .favor-box {
    text-align: center;
}
.favor .favor-box .icon {
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 0 auto 1.5rem;
}
.favor .favor-box h4 {
    color: rgba(39, 39, 39, 0.80);
    font-size: 1rem;
    font-weight: 600;
}

/* DEALS SECTION */
section.deals {
    border-radius: 0.5rem;
    background: rgba(158, 35, 1, .05);
}
section.deals main .title {
    width: 60%;
}
section.deals main .deals-cover {
    width: 40%;
}
section.deals main .title {
    margin: 0;
}
section.deals main .title h1 span {
    color: #d93e13;
}

section.deals main .deals-cover .cover-img {
    width: 19.875rem;
    height: 26.25rem;
}

/* SHOWCASE SECTION */
section.showcase .gallery {
    gap: 2.5rem;
}
section.showcase .gallery .gallery-item {
    max-width: 25%;
    max-height: 25rem;
}
section.showcase .gallery .gallery-item img {
    object-fit: cover;
    object-position: center;
}

/* NEWSLETTER SECTION */
section.newsletter .newsletter-container{
    border-radius: 0.5rem;
    background: center / cover url('../assets/images/Rectangle\ 9.png');
    padding: 8rem 15vw;
}
section.newsletter main {
    gap: 1rem;
}

section.newsletter main .input-wrapper {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0 1.2rem;
}

/* FOOTER */
footer {
    background-color: #111010;
    color: #fff;
}
footer .title h1 span {
    color: #e6785a;
}
footer .title p {
    color: rgba(255, 255, 255, 0.90);
    font-weight: 300;
    font-size: 1rem;
}

footer p.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: .95rem;
    font-weight: 400;
}


/* FIELDS */
section.fields > div {
    border-bottom: 2px solid #F6E0CE;
}
section.fields .field_cover {
    align-self: flex-end;
    width: 60%;
}
section.fields .field_cover .field_cover-inner img {
    vertical-align: bottom;
}
section.fields .field_cover .field_cover-inner {
    height: 100%;
    max-width: 30rem;
    margin: 0 auto;
}
section.fields .field-details {
    width: 40%;
}
section.fields .title {
    text-align: left;
}
section.fields .title span {
    display: block;
    color: #AA6610;
}
section.fields .field_info {
    gap: 3.5rem;
}
section.fields .field_info .button:active {
    transform: scale(.96);
}
section.fields .field_info .field-icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 9999px;
    background-image: linear-gradient(to bottom,rgba(170, 102, 16, 0.10) 0 5%,#fff0 10%), linear-gradient(to right,rgba(170, 102, 16, 0.10) 0 5%,#fff0 10%);
    background-position: top, center;
    background-repeat: space repeat;
    background-size: .5px 12px, 12px .5px;
    border: 1px solid #AA6610;
    will-change: background-color;
    transition: background-color 200ms ease;
}
section.fields .field_info .field-icon:hover {
    background-color: rgba(170, 102, 16, 0.20);
}
section.fields .field_info .field-icon img {
    object-fit: contain;
}